

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myContainer {
    margin-top: 30px;
}

.card-fix {
    height: 43rem;
    padding: 5px;
    color: midnightblue;
    background-color: lightgray;

    .img {
        height: 15rem;
    }

    h4 {
        height: 25px;
    }

    li {
        height: 50px;
        margin-bottom: 5px;
        color: darkblue;
    }
}